/* Nav item */


/* Auto layout */

.navbarLink{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 12px;
    gap: 4px;
    border-radius: 12px;
    color: #6F767E
}
  
.navbarLink.active {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 12px;
    gap: 4px;
    
    
    /* Neutral/06 */
    
    background: #272B30;
    color: #fff;
    box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.4), inset 0px 1px 1px rgba(255, 255, 255, 0.11);
    border-radius: 12px;
    
    /* Inside auto layout */
}

.dropdown-content{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;

    height: 0px;
    width: 200px;
    color: #fff;
    
    /* Inside auto layout */
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.thread{
    width: 24px;
    position: relative;
    overflow: hidden;
}
.line1{
    width: 2px;
    height: 100%;
    background: #272b30;
    position: absolute;
    top: 0;
    left: 8px;
}
.line2{
    position: absolute;
    border: 2px solid #272b30;
    top: -55%;
    left: 8px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}
.nav-items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;

}
.dropdown-button{
    background-color: transparent;
    border: none;
    outline: none;
}
.dropdown-button:focus{
    border: none;
    outline: none;
}
.dropdown-button:focus + .dropdown-content{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    height: 200px;
}